<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
   
    <h1>No user logged in</h1>
    <p>Not registered? <a href="/sign-up">Sign Up</a></p>
    <p>Already a user? <a href="/login">Log In</a></p>

</body>
</html>