<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <% if (currentUser) {%>
        <h1>You are already logged in as <%= currentUser.username %></h1>
        Return <a href="/">Home</a>
    <% } else { %>
        <h1><%= title %></h1>
        <form action="" method="POST">
            <label for="username">Username</label>
            <input name="username" placeholder="username" type="text">
            <label for="password">Password</label>
            <input name="password" type="password">
            <label for="passwordConfirmation">Password Confirmation</label>
            <input name="passwordConfirmation" type="password">
            <button>Sign Up</button>
        </form>
        Already a user? <a href="/log-in">Log In</a>
    <%} %>
</body>

</html>