body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.messageContainer {
  display: inline;
}

.messageDeleteForm {
  display: inline !important;
}

.messageDeleteButton {
  display: inline;
}

.messageDeleteInput {
   display: inline;
}

.blurredText {
  background-color:rgba(0, 0, 0);
}

.blurredText::selection {
  background-color:rgba(0, 0, 0);
}

.blurredText::-moz-selection {
  background-color:rgba(0, 0, 0);
}