body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(250, 250, 250);
}

.container {
  padding: 30px;
}


.messageDeleteForm {
  position: absolute;
  top: 0px;
  right: 0px;
}

.messageDeleteButton {
  background: none;
  border: 1px solid rgba(218, 218, 218, 0.767);
  border-radius: 3px;
  color: red;
}

.messageDeleteButton:hover {
  background:red;
  border: 1px solid rgba(197, 197, 197, 0.438);
  border-radius: 3px;
  color: white;
}

.messageDeleteInput {
   display: inline;
}

.blurredText {
  background-color:rgba(0, 0, 0);
}

.blurredText::selection {
  background-color:rgba(0, 0, 0);
}

.blurredText::-moz-selection {
  background-color:rgba(0, 0, 0);
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card:hover {
  background: rgba(219, 219, 219, 0.13); 
}

